<div class="card">
  <div class="card-header">
    Nuevo curso(Formulario reactivo)
  </div>
  <div class="card-body">
    <!--   se enlaza con el objecto -->
    <form [formGroup]="courseAddForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input 
        type="text"
         class="form-control mb-2"
          id="name"
           name="name"
           formControlName="name"
           />

           <div  *ngIf="courseAddForm.get('name').invalid && (courseAddForm.get('name').touched  ||   courseAddForm.get('name').dirty) " class="alert alert-danger" class="alert alert-danger">
               El nombre es requerido
           </div>
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input
          type="text"
          class="form-control mb-2"
          id="Description"
          name="Description"
         formControlName="description"
        />
        <div *ngIf="courseAddForm.get('description').invalid &&(  courseAddForm.get('description').touched  ||   courseAddForm.get('description').dirty )" class="alert alert-danger">
            La description es requerida
        </div>
      </div>
      <div class="form-group">
        <label for="Price">Precio</label>
        <input 
        type="number"
         class="form-control" 
         id="Price"
        name="Price"
        formControlName="price"
         />
          <div *ngIf="price.invalid && (price.touched  ||   price.dirty) ">
             <div *ngIf="price.errors.required"  class="alert alert-danger" >
            El precio es requerido
            </div>
            <div *ngIf="price.errors.minPrice"  class="alert alert-danger" >
              minimo 10 
              </div>
         </div>
       
      </div>
      <div class="form-group">
        <label for="Url">URL de imagen</label>
        <input 
        type="text"
         class="form-control"
          id="Url"
           name="Url"
          formControlName="url"
            />
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="active" />
        <label class="form-check-label" for="active">Curso activo</label>
      </div>
      <button    type="submit" class="btn btn-primary"[disabled]="courseAddForm.invalid ||  courseAddForm.untouched  ">
        Crear Curso
      </button>
    </form>

    <div>
      <pre>
         <!--      Form.valid:{{formularioAdd.form.valid}}
              Form.invalid:{{formularioAdd.form.invalid}} -->
          </pre>
    </div>
  </div>
</div>
