<div class="card">
  <div class="card-header text-center">
    {{title}}
  </div>
  <div *ngIf="cursos && cursos.length>0 ;else noneCourse" class="card-body">
    <div class="row mb-5">
      <div class="col-md-2"> Filtrar por:</div>
      <div class="col-md-6">
      <input #filtro  type="text" [(ngModel)]="textoFiltro" class="mr-5"> 
      <span>{{textoFiltro}}</span>
      </div>
      <div class="col-md-4 text-right">
        <button type="button"
        [routerLink]="['/courses/add']" routerLinkActive="router-link-active"  class="btn btn-primary">Nuevo curso</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <th>logo</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>price</th>
        <th>Rating</th>
        <th>acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td><img [src]="curso.imageUrl" [style.width]="widthImg" /></td>
          <td>{{curso.name}}</td>
          <td>{{curso.description}}</td>
          <td>{{curso.startDate}}</td>
          <td>{{curso.price}}</td>
          <td>{{curso.rating}}</td>
          <td>
          <!-- aqui se van a definir los metodos qye se van a ejecutar dentro del componente padre y entre parentesis el evento -->
            <app-course-actions  [curso]="curso"
                                 (edit)="onEditCurso($event)"
                                (delete)="onDeleteCurso($event)">

            </app-course-actions>  
          </td>
        </tr>
      </tbody> 
    </table>
  </div>
  <ng-template #noneCourse class="mt-5">
    <div class="alert alert-danger" role="alert">
      No existen cursos por el momento regresa mas tarde.
    </div>
  </ng-template>
</div>
