<div class="card">
  <div class="card-header">
    Nuevo curso
  </div>

  <!--   id:number;
    name: string,
    description: string,
    startDate: number,
    price: number,
    rating: number,
    imageUrl: string, -->
  <div class="card-body">
    <form  #formularioAdd="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input 
        
          type="text"
          class="form-control mb-2"
          id="name"
          name="name"
          [(ngModel)]="model.name"
          #name="ngModel"
          required
          />
          <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
            el nombre es requerido
          </div>
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" 
        class="form-control mb-2" 
        id="Description"
        name="Description"
        [(ngModel)]="model.description"
        required
        #description="ngModel"
        minlength="5"
         />
         <div *ngIf="description.invalid && (description.dirty || description.touched)">
           <div *ngIf="description.errors.required" class="alert alert-danger">
             description es requerida
           </div>
           <div  *ngIf="description.errors.minlength" class="alert alert-danger">
             La descripcion debe tener como minimo 5 caracteres
           </div>
         </div>
      </div>
      <div class="form-group">
        <label for="Price">Precio</label>
        <input type="number"
         class="form-control"
          id="Price"
          name="Price"
          [(ngModel)]="model.price"
          required
          #price="ngModel"

           />
           <div *ngIf="price.invalid && price.touched"  class="alert alert-danger">
           el precio es requerido
          </div>
      </div>
      <div class="form-group">
        <label for="Url">URL de imagen</label>
        <input
         type="text" 
         class="form-control"
         id="Url"
         name="Url"
         [(ngModel)]="model.imageUrl"
          />
      </div>
  
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="active" />
        <label class="form-check-label" for="active">Curso activo</label>
      </div>
      <button 
      type="submit"
       class="btn btn-primary"
       (click)="onSubmit()"
       [disabled]="formularioAdd.form.invalid || formularioAdd.form.untouched"
       >
       Crear Curso</button>
    </form>

    <div>
        <pre>
            Form.valid:{{formularioAdd.form.valid}}
            Form.invalid:{{formularioAdd.form.invalid}}
        </pre>
    </div>
  </div>
</div>
