<span class="mr-3"
      (click)="editarCurso(curso)"
      (mouseover)="onMouseOver($event)"
      (dblclick)="doubleClick($event)"
>
    <i class="fa fa-edit"></i>
  </span>
  <span (click)="remove(curso)">
    <i class="fa fa-trash"></i>
  </span>
  